mixin head-src()
    //- ICONS
    link(rel="shortcut icon", href="logodevis.ico")
    link(rel="shortcut icon", href="static/images/favicons/logodevis.png", type="image/x-icon")
    link(rel="apple-touch-icon", href="static/images/favicons/logodevis -icon.png")
    link(rel="apple-touch-icon-precomposed", href="static/images/favicons/logodevis -icon.png")


    //- STYLESHEETS
    //- Google fonts
    if config.modules.googleFonts
        link(href= config.modules.googleFonts rel="stylesheet" type="text/css")

    //- Main stylesheet
    link(rel="stylesheet", href="static/css/screen.min.css")

    //- Custom stylesheet
    if config.modules.customCss
        link(rel="stylesheet", href="static/css/custom.min.css")


    if config.modules.customCss
        link(rel="stylesheet",  href="https://use.fontawesome.com/releases/v5.0.10/css/all.css", integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg", crossorigin="anonymous")

    //- Noscript stylesheet
    if config.modules.noscriptCss
        noscript
            link(rel="stylesheet", href="static/css/noscript.min.css")


    //- SCRIPTS
    //- Head javascript
    if config.modules.headJs
        script(src="static/js/head.min.js")

script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBI-wufKI7EiGBQSkX4_IrOi_7Ur69rh0g")
