extends ../layouts/base

block variables
    - pageLang = "en"
    - pageTitle = "DEVISE"
    - pageDescription = "Information Services"
    - pageKeywords = "Information Services keywords"
    - pageUrl = ""


block body-content
    // Header
    +header

    // Home section
    +home

    // About section
    +about

    // Services section
    +services

    // Process section
    +process

    // Projects section
    +projects

    // Contacts section
    +contacts

    // Footer
    +footer

