mixin about()
    section#about.about-section
        .container
            .about-section__card
                header.about-section__card-header
                    h2 Nosotros!
                    
                .about-section__card-info
                    p  Con más de 5 años de experiencia en el mercado DEVISE casa de desarrollo de software se ha especializado en apoyar a nuestros clientes y socios de negocios en desarrollar sus ideas. 
                    
                    p  Ubicada en la ciudad de Mexicali, Baja California ha expandido sus horizontes al mercado internacional trayendo a México la posibilidad de conocer nuevas tecnologías y lenguajes de programación poniendo a su disposición especialistas en  el ámbito.
                    
                    p  Asegurándose de brindar servicios de calidad ve ahora la posibilidad de hacer realidad todo aquello que se imagine. 
                    blockquote
                        p "Siempre adaptando nuestros ideales a su entorno nos permitimos integrar nuestras soluciones y servicios para colaborar con usted en el camino de su negocio".
                            cite DEVISE                   