mixin header(args)
    - opts = args || {}
    header.main-header
        .first-nav
            .container
                nav.first-nav__links
                    ul
                        li
                            a.is-selected español
                        li
                            a(href="#") inglés
                  

                a.first-nav__navcontrol.icon.icon_menu.js-navcontrol(href="#") Menú
        .second-nav.js-nav
            .container
                a.second-nav__logo: span DEV
                nav.menu
                    ul
                        li
                            a.js-link.js-anchor.is-selected(href="#Inicio") Inicio
                        li
                            a.js-link.js-anchor(href="#Nosotros") Nosotros
                        li
                            a.js-link.js-anchor(href="#Servicios") Servicios
                        li
                            a.js-link.js-anchor(href="#Procesos") Procesos
                        li
                            a.js-link.js-anchor(href="#Proyectos") Proyectos
                        li
                            a.js-link.js-anchor(href="#Contacto") Contacto
