mixin header(args)
    - opts = args || {}
    header.main-header
        .first-nav
            .container
                nav.first-nav__links
                    ul
                        li
                            a.is-selected español
                        li
                            a(href="#") inglés
                  

                a.first-nav__navcontrol.icon.icon_menu.js-navcontrol(href="#") Menú
        .second-nav.js-nav
            .container
                a.second-nav__logo: span DEV
                nav.menu
                    ul
                        li
                            a.js-link.js-anchor.is-selected(href="#home") Inicio
                        li
                            a.js-link.js-anchor(href="#about") Nosotros
                        li
                            a.js-link.js-anchor(href="#services") Servicios
                        li
                            a.js-link.js-anchor(href="#process") Procesos
                        li
                            a.js-link.js-anchor(href="#projects") Proyectos
                        li
                            a.js-link.js-anchor(href="#contacts") Contacto
