mixin home()
    section#home.home-section
        .home-section__bg
        .home-section__overlay
            .container
                header.home-section__header
                    img(src="static/images/logo_horizontal-degradado_black - Copy (2).png" alt="Chase your dreams")
                    h1 CHASE YOUR DREAMS
             
