mixin process()
    section#process.common-section
        .container
            header.common-section__header
                h2 ¿Como empezar?
                h4 Guiamos tu camino al éxito
            .grid-container
                ul.process
                    li.process__step.process__step_research
                        .process__step-icon.far.fa-lightbulb.is-active
                    li.process__step-info.process__step-info_research.is-active
                        h3
                            span Paso 1
                            |  &mdash; Conceptualiza tu idea.
                        p Conviertimos tu idea en un proyecto real.
                    li.process__step.process__step_develop
                        .process__step-icon.fas.fa-users
                    li.process__step-info.process__step-info_develop
                        h3
                            span Paso 2 Crea tu equipo de trabajo.
                            |  &mdash; 
                        p Nuestro equipo de trabajo te acompañara durante el camino.
                    li.process__step.process__step_deploy
                        .process__step-icon.fas.fa-chart-line
                    li.process__step-info.process__step-info_deploy
                        h3
                            span Step 3
                            |  &mdash; Hazla crecer.
                        p  Desarolla el pontencial de tu proyecto de acuerdo a estrategias en conjunto.
                    li.process__step.process__step_deliver
                        .process__step-icon.fas.fa-rocket
                    li.process__step-info.process__step-info_deliver
                        h3
                            span Step 4
                            |  &mdash; Listo, Fuera.
                        p Haz dado inicio, vende, posiciona y visualiza tu proyecto.
