mixin projects()
    section#projects.common-section
        header.common-section__header
            h2 Proyectos
            p Referencia de profesionalismo

        .projects-wrap
            .grid-container
                .projects
                    figure.projects__item
                        img(src="static/images/projects/9.jpg" alt="Point of Sale")
                        figcaption
                            a.icon.icon_link(href="https://www.softpointcloud.com/products_pos_Spanish.html" rel="follow") Point of Sale
                    figure.projects__item
                        img(src="static/images/projects/10.jpg" alt="DataPoint")
                        figcaption
                            a.icon.icon_link(href="https://www.softpointcloud.com/products_datapoint_Spanish.html" rel="follow") DataPoint
                    figure.projects__item
                        img(src="static/images/projects/11.jpg" alt="ControlPoint")
                        figcaption
                            a.icon.icon_link(href="https://www.softpointcloud.com/products_controlpoint_Spanish.html" rel="follow") ControlPoint
                    figure.projects__item
                        img(src="static/images/projects/12.jpg" alt="MarketPlace")
                        figcaption
                            a.icon.icon_link(href="https://www.softpointcloud.com/products_marketplace_Spanish.html" rel="follow") MarketPlace
                    