mixin projects()
    section#projects.common-section
        header.common-section__header
            h2 Proyectos
            p Referencia de profesionalismo

        .projects-wrap
            .grid-container
                .projects
                    figure.projects__item
                        img(src="static/images/projects/9.jpg" alt="Point of Sale")
                        figcaption
                            a.icon.icon_link(href="https://www.softpointcloud.com/products_pos_Spanish.html" rel="follow") Point of Sale
                    figure.projects__item
                        img(src="static/images/projects/10.jpg" alt="2")
                        figcaption
                            a.icon.icon_link(href="#" rel="nofollow") 2
                    figure.projects__item
                        img(src="static/images/projects/11.jpg" alt="3")
                        figcaption
                            a.icon.icon_link(href="#" rel="nofollow") 3
                    figure.projects__item
                        img(src="static/images/projects/12.jpg" alt="4")
                        figcaption
                            a.icon.icon_link(href="#" rel="nofollow") 4
                    