mixin projects()
    section#projects.common-section
        header.common-section__header
            h2 Proyectos
            p Referencia de profesionalismo

        .projects-wrap
            .grid-container
                .projects
                    figure.projects__item
                        img(src="static/images/projects/9.jpg" alt="1")
                        figcaption
                            a.icon.icon_link(href="#" rel="nofollow") 1
                    figure.projects__item
                        img(src="static/images/projects/10.jpg" alt="2")
                        figcaption
                            a.icon.icon_link(href="#" rel="nofollow") 2
                    figure.projects__item
                        img(src="static/images/projects/11.jpg" alt="3")
                        figcaption
                            a.icon.icon_link(href="#" rel="nofollow") 3
                    figure.projects__item
                        img(src="static/images/projects/12.jpg" alt="4")
                        figcaption
                            a.icon.icon_link(href="#" rel="nofollow") 4
                    figure.projects__item
                        img(src="static/images/projects/13.jpg" alt="5")
                        figcaption
                            a.icon.icon_link(href="#" rel="nofollow") 5
                    figure.projects__item
                        img(src="static/images/projects/14.jpg" alt="6")
                        figcaption
                            a.icon.icon_link(href="#" rel="nofollow") 6
                    figure.projects__item
                        img(src="static/images/projects/15.jpg" alt="7")
                        figcaption
                            a.icon.icon_link(href="#" rel="nofollow") 7
                    figure.projects__item
                        img(src="static/images/projects/16.jpg" alt="8")
                        figcaption
                            a.icon.icon_link(href="#" rel="nofollow") 8