mixin services()
    section#services.common-section
        .container
            header.common-section__header
                h2 Servicios
                h4 Experiencia que garantiza nuestro servicio
            .grid-container
                ul.services.services_advisory
                    li.services__item
                        icon.services__item.icon.icon_strategy
                        h4 Servicios profesionales
                        p Proporcionamos servicios profesionales de acuerdo a la solución que necesites. Te apoyamos en el proceso de desarrollo de tus productos de software.
                    li.services__item
                        icon.services__item.fas.fa-code
                        h4 Desarrollo de software
                        p  Proporcionamos un equipo de profesionales especializados en tecnologías .NET, PHP y Android comprometidos al desarrollo de diversas soluciones para tu negocio.
                ul.services.services
                    li.services__item
                        icon.services__item.fas.fa-shopping-cart
                        h4 Productos
                        p Apoyamos a nuestros socios de negocios en venta y distribución de sus productos de software, contando actualmente con un portafolio de soluciones para Punto de venta, administración de personal, y terminales.
                    li.services__item
                        icon.services__item.icon.icon_support
                        h4 Soporte Técnico
                        p Nos encargamos de proporcionar soporte técnico de las soluciones de software desarrolladas con la garantía de contar con personal capacitado y especializado brindando la mejor atención a nuestros clientes.
                .advantages
                    h2 ¿Porque elegirnos?
                    blockquote
                        p "Hemos estado expandiendo nuestro portafolio de servicios con la intención de convertirnos en un aliado para nuestros clientes y ser una de las mejores casas de software de México".
                        cite DEVISE 


